In [4]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

df = pd.read_csv('corp-messaging.csv')
dropcol=['_unit_id','_golden','_unit_state','_trusted_judgments','_last_judgment_at','category_gold','id']
for col in dropcol:
    df.drop(col,axis=1,inplace=True)
cv = CountVectorizer()

In [5]:
df.head()#since text is already vectorized

,category,category:confidence,screenname,text
0,Information,1.0,Barclays,Barclays CEO stresses the importance of regula...
1,Information,1.0,Barclays,Barclays announces result of Rights Issue http...
2,Information,1.0,Barclays,Barclays publishes its prospectus for its å£5....
3,Information,1.0,Barclays,Barclays Group Finance Director Chris Lucas is...
4,Information,1.0,Barclays,Barclays announces that Irene McDermott Brown ...

In [6]:
i=0
for text in df['text']:
    text = [text]
    vector = cv.fit_transform(text)
    df['text'][i] = vector.toarray()
    i+=1

/tmp/ipykernel_306237/2867738527.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'][i] = vector.toarray()

In [7]:
df.head()

,category,category:confidence,screenname,text
0,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,..."
1,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 1, 1, 1]]"
2,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1]]"
3,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,..."
4,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,..."

In [23]:
categorydict = {"Information":0,"Action":1,"Dialogue":2,"Exclude":3}

In [24]:
i=0
for categor in df['category']:#this is printing all of the category in string from the column
    for cat in categorydict.keys():#this is looping through the keys
        if categor == cat:
            print(i,categor,cat)
            df['category'][i] = categorydict.get(cat)
            print(df['category'][i])
            i+=1

In [32]:
screennamedict = {"Barclays":0,"barclayswealth":1,"Citi":2,"CitigroupBRK":3,"C_PR":4,"DanoneGroup":5,"Merck":6,"Nestle":7,"pfizer_news":8}
i=0
for sname in df['screenname']:
    for sdict in screennamedict.keys():
        if sname == sdict:
            df['screenname'][i] = screennamedict.get(sdict)
            i+=1

In [34]:
df.head()

,category,category:confidence,screenname,text
0,0,1.0,0,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,..."
1,0,1.0,0,"[[1, 1, 1, 1, 1, 1, 1, 1, 1]]"
2,0,1.0,0,"[[1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1]]"
3,0,1.0,0,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,..."
4,0,1.0,0,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,..."

In [35]:
plt.scatter(category,screenname)

NameError: name 'plt' is not defined