In [62]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

df = pd.read_csv('corp-messaging.csv')
dropcol=['_unit_id','_golden','_unit_state','_trusted_judgments','_last_judgment_at','category_gold','id']
for col in dropcol:
    df.drop(col,axis=1,inplace=True)
cv = CountVectorizer()

In [63]:
df.head()#since text is already vectorized

,category,category:confidence,screenname,text
0,Information,1.0,Barclays,Barclays CEO stresses the importance of regula...
1,Information,1.0,Barclays,Barclays announces result of Rights Issue http...
2,Information,1.0,Barclays,Barclays publishes its prospectus for its å£5....
3,Information,1.0,Barclays,Barclays Group Finance Director Chris Lucas is...
4,Information,1.0,Barclays,Barclays announces that Irene McDermott Brown ...

In [64]:
i=0
for text in df['text']:
    text = [text]
    vector = cv.fit_transform(text)
    df['text'][i] = vector.toarray()
    i+=1

/tmp/ipykernel_261220/2867738527.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'][i] = vector.toarray()

In [65]:
df.head()

,category,category:confidence,screenname,text
0,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,..."
1,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 1, 1, 1]]"
2,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1]]"
3,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,..."
4,Information,1.0,Barclays,"[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,..."

In [71]:
categorydict = {'Information':0,'Action':1,'Dialogue':3,'Exclude':4}
i=0
for category in df['category']:
    for keys in categorydict.keys():
        if category == keys:
            category = categorydict.get(keys)
            df['category'][i] = category
            i+=1

/tmp/ipykernel_261220/649374657.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['category'][i] = category